.env
**/.env
npm-debug.log
**/npm-debug.log

# dependencies
/node_modules
**/node_modules

# testing
/coverage
**/coverage

# production
/build
**/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/.DS_Store
**/.env
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*